body{
    background-color: rgba(247, 248, 248, 0.808) ;
}
header{
    background-color: rgb(232, 232, 240);
}
main{
    background-color: rgb(226, 223, 10);
}
section{
    background-color: rgba(0, 16, 238, 0.979);
}