body{
    background-color: rgba(0, 243, 81, 0.808) ;
}
header{
    background-color: blue;
}
main{
    background-color: rgb(226, 223, 10);
}
section{
    background-color: rgba(23, 212, 70, 0.979);
}