body{
    background-color: rgba(247, 248, 248, 0.808) ;
}
header{
    background-color: rgb(232, 232, 240);
}
main{
    background-color: rgb(247, 246, 239);
}
section{
    background-color: rgba(236, 237, 240, 0.979);
}